%h1 Chats#index

%input#message{type: 'text'}
%input#send{type: "button", value: 'send'}

%ul#messages

:javascript
  $(function() {
    var dispatcher = new WebSocketRails('localhost:3000/websocket');

    dispatcher.bind('chats.create', function(message) {
      $('#messages').prepend('<li>' + message + '</li>');
    });

    $('#send').on('click', function(e) {
      e.preventDefault();

      message = $('#message').val();

      if (message.length > 0) {
        dispatcher.trigger('chats.create', message);
        $('#message').val('');
      }
    });
  });